:root {
    --color-primary: #f9a51b;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #f7f6f4;
    --primary-font: "Roboto", Helvetica, sans-serif;
    --color-text: #1a1a1a;
    --color-bg-dark: #2f2f2f;
}

html {
  scroll-behavior: smooth;
}

body {
    min-width: 320px;
    margin: 0;
}



/* ======HEADER====== */



.header {
    background: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
}

.header__container {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 18px 4vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo__image {
    max-width: 200px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: block;
}

.header__menu {
    display: flex;
    gap: 0;
    align-items: center;
}

.button {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-family: var(--primary-font);
    font-weight: 600;
    border: 1px solid var(--color-primary);
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.button:active {
    background-color: var(--color-white);
    transition: 0.3s ease;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.button--large {
    padding: 1em 2em;
}



/* ======MENU====== */



.menu__list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 1em;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
    padding: 1em 1em;
}

.menu__link:active {
    color: var(--color-primary);
    transition: color 0.2s ease;
}



/* ======MOBILE-MENU====== */



.mobile-menu__checkbox {
    display: none;
}

.mobile-menu__icon {
    display: none;
    background-color: var(--color-white);
    z-index: 1;
    overflow: hidden;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

.mobile-menu__line {
    position: absolute;
    right: 0;
    height: 4px;
    background: var(--color-primary);
    transition: 0.2s ease;
}

.mobile-menu__line--top {
    top: 10px;
    width: 30px;
}

.mobile-menu__line--middle {
    top: 18px;
    width: 20px;
}

.mobile-menu__line--bottom {
    top: 26px;
    width: 30px;
}

.mobile-menu__nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-white);
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 0.25s 0.1s;
    overflow-y: auto;
    z-index: 9;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    box-sizing: border-box;
    padding: 0 4vw;
}

.mobile-menu__item {
    list-style: none;
}

.mobile-menu__link {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
    padding: 1em 1em;
}

.mobile-menu__link:active {
    color: var(--color-primary);
    transition: color 0.2s ease;
}

.button--small {
    padding: 1em 1em;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__icon .mobile-menu__line--top {
    top: 18px;
    left: 6.5px;
    transform: rotate(45deg) scaleX(0.95);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__icon .mobile-menu__line--middle {
    transform: translateX(-20px);
    opacity: 0;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__icon .mobile-menu__line--bottom {
    top: 18px;
    left: 6.5px;
    transform: rotate(-45deg) scaleX(0.95);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 0.25s;
    max-height: 80vh;
}



/* ======SLIDER====== */



.splide {
    height: 650px;
    max-height: 80vh;
    margin: 88px auto 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.splide__slide {
    position: relative;
    overflow: hidden;
}

.splide__img{
    height: 650px;
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
}

.splide__arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
    gap: 90px;
    z-index: 1;
}

.splide .splide__arrows .splide__arrow--prev{
    width: 40px;
    height: 40px;
    position: static;
    margin-bottom: 0;
}

.splide .splide__arrows .splide__arrow--next{
    width: 40px;
    height: 40px;
    position: static;
}

.splide .splide__arrows .splide__arrow {
    background: var(--color-white);
    opacity: 1;
    transition: 0.2s ease;
}

.splide .splide__arrows .splide__arrow:active {
    background: var(--color-primary);
    opacity: 1;
    transition: 0.2s ease;
}

.splide .splide__arrows .splide__arrow svg {
    fill:var(--color-primary)
}

.splide .splide__arrows .splide__arrow:active svg {
    fill:var(--color-white);
}

.splide .splide__pagination {
    margin-bottom: 23px ;
    z-index: 2;
}

.splide .splide__pagination__page {
    background: var(--color-white);
    opacity: 1;
    width: 12px;
    height: 12px;
    border: none;
}

.splide .splide__pagination__page:active {
    background: var(--color-primary);
    opacity: 1;
    border: none;
}

.splide .splide__pagination__page.is-active {
    background: var(--color-primary);
    opacity: 1;
    transition: transform 0.2 ease;
    transform: scale(1.2);
}

.splide__banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
}

.splide__content {
    max-width: 1440px;
    padding: 85px 4vw;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.splide__text {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 2em;
    max-width: 40%;
    font-weight: 900;
}

.splide__button {
    padding: 1em 2em;
}



/* ======FARMY====== */



.farms {
    background-color: var(--color-bg);
    scroll-margin-top: 80px;
}

.farms__container {
    max-width: 1440px;
    padding: 80px 4vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.farms__title {
    text-align: center;
    color: var(--color-text);;
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
    margin-top: 0;
}

.farms__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

.farm-card {
    display: flex;
    gap: 1em;
    flex: 1 1 calc(50% - 1em);
    max-width: calc(50% - 1em);
    min-width: 220px;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    padding: 1.5em;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.farm-card__image {
    width: 200px;
    height: 200px;
}

.farm-card__content {
    display: flex;
    flex-direction: column;
}

.farm-card__title {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
}

.farm-card__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0;
    text-align: center;
}



/* ======NOVINKY====== */



.news {
    background-color: var(--color-white);
    scroll-margin-top: 80px;
}

.news__container {
    max-width: 1440px;
    padding: 80px 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
    box-sizing: border-box;
}

.news__content {
    flex: 1 1 0
}

.news__title {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1em;
}

.news__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 1.5;
}

.news__image-wrapper {
    flex: 1 1 0;
}

.news__image {
    max-width: 100%;
}



/* ======HISTORIE====== */



.history {
    background-color: var(--color-bg);
    scroll-margin-top: 80px;
}

.history__container {
    max-width: 1440px;
    padding: 80px 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
    box-sizing: border-box;
}

.history__image-wrapper {
    flex: 1 1 0
}

.history__image {
    max-width: 100%;
}

.history__content {
    flex: 1 1 0;
}

.history__title {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
    margin-top: 0;
}

.history__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 1.5;
}



/* ======BANNER====== */



.banner__container {
    max-width: 1440px;
    padding: 80px 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    position: relative;
    box-sizing: border-box;
}

.banner__container::before {
    content: "";
    display: block;
    width: 500px;
    height: 250px;
    background-image: url('images/palomo__bull.png');
    background-size: cover;
    position: absolute;
    right: 7%;
    top: 50%;                 
    transform: translateY(-50%);
    z-index: -1;
}

.banner__content {
    width: 50%;
    padding: 3em 2em 3em 3em;
    background-color: var(--color-bg);
    border-radius: 0.3em;
}

.banner__title {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
    margin-top: 0;
}

.banner__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 1.5;
}

.banner__button {
    padding: 1em 2em;
}



/* ======KONTAKT====== */



.contact {
    background-color: var(--color-bg);
    scroll-margin-top: 80px;
}

.contact__container {
    max-width: 1440px;
    padding: 80px 4vw 80px 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
}

.contact__title {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.contact__content {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contact__intro {
    flex: 1;
}

.contact__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 1.5;
    max-width: 95%;
}

.contact__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact__item {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contact__icon {
    width: 35px;
    height: 35px;
}

.contact__address {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    font-style: normal;
}

.contact__tel {
    font-family: var(--primary-font);
    color: var(--color-text);
    text-decoration: none;
}

.contact__tel:active {
    color: var(--color-primary);
}

.contact__email {
    font-family: var(--primary-font);
    color: var(--color-text);
    text-decoration: none;
}

.contact__email:active {
    color: var(--color-primary)
}

.contact__map {
    width: 100%;
    height: 300px;
    border: none;
    filter: grayscale(100%);
    margin-top: 1em;
}

.contact__form {
    margin-top: 2em;
    display: none;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name textarea"
    "email textarea"
    "subject textarea"
    ". button";
}

.contact__input {
    font-family: var(--primary-font);
    border: 1px solid #bbbbbb;
    padding: 1em;
}

.contact__input--name {
    grid-area: name;
}

.contact__input--email {
    grid-area: email;
}

.contact__input--subject {
    grid-area: subject;
}

.contact__input--textarea {
    grid-area: textarea;
    height: 140px;
}

.contact__button {
    grid-area: button;
    color: var(--color-white);
    font-family: var(--primary-font);
    justify-self: end;
    border: none;
    background-color: var(--color-primary);
    padding: 1em 2em;
    font-size: 1.3em;
}

.contact__button:active {
    background-color: var(--color-hover);
    transition: 0.3s ease;
}



/* ======PATIČKA====== */



.footer {
    background: var(--color-bg-dark);
}

.footer__container {
    max-width: 1440px;
    padding: 80px 4vw 0 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    box-sizing: border-box;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 2em;
}

.logo__image--small {
    max-width: 160px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: block;
}

.footer__contacts {
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
}

.footer__contact-box {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: center;
}

.footer__subtitle {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
}

.footer__tel {
    font-family: var(--primary-font);
    color: var(--color-white);
    text-decoration: none;
}

.footer__tel:active {
    color: var(--color-primary);
}

.footer__email {
    font-family: var(--primary-font);
    color: var(--color-white);
    text-decoration: none;
}

.footer__email:active {
    color: var(--color-primary);
}

.footer__company-name {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
}

.footer__address {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1em;
    font-style: normal;
}

.footer__open-hours {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1em;
}

.footer__extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b3b3b3 ;
    padding: 2em 0;
    gap: 0.5em
}

.footer__socials{
    display: flex;
    gap: 1em;
    align-items: center;
}

.footer__icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    display: block;
}

.footer__icon:active {
    transform: scale(1.3);
}

.footer__copyright {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 0.9em;
}



@media (max-width: 576px) {

    .menu {
        display: none;
    }

    .button--hidden {
        display: none;
    }

    .mobile-menu__icon {
        display: block;
    }   

    .splide {
        margin: 76px auto 0 auto;
    }

    .splide__text {
        max-width: 65%;
    }

    .farms {
        scroll-margin-top: 76px;
    }

    .farm-card {
        flex-direction: column;
        flex: 1;
        min-width: 100%
    }

    .news {
        scroll-margin-top: 76px;
    }

    .news__container {
        flex-direction: column;
    }

    .news__title {
        text-align: center;
    }

    .news__content {
        order: 2;
    }

    .news__image-wrapper {
        order: 1;
    }

    .history {
        scroll-margin-top: 76px;
    }

    .history__container {
        flex-direction: column;
    }   

    .history__title {
        text-align: center;
    }
    
    .banner__content {
        width: 100%;
    }

    .banner__container::before {
        display: none;
    }

    .contact {
        scroll-margin-top: 76px;
    }
    
    .contact__title {
        text-align: center;
    }

    .contact__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__text{
        max-width: 100%;
    }

}



@media (min-width: 576px) and (max-width: 767px) {

    .button--hidden {
        display: none;
    }

    .menu {
        display: none;
    }

    .mobile-menu__icon {
        display: block;
    }

    .splide {
        margin: 76px auto 0 auto;
    }

    .splide__text {
        max-width: 65%;
    }

    .farms {
        scroll-margin-top: 76px;
    }

    .farm-card {
        flex-direction: column;
        flex: 1;
        min-width: 100%;
    }

    .news {
        scroll-margin-top: 76px;
    }

    .news__container {
        flex-direction: column;
    }

    .news__title {
        text-align: center;
    }

    .news__content {
        order: 2;
    }

    .news__image-wrapper {
        order: 1;
    }

    .history {
        scroll-margin-top: 76px;
    }

    .history__container {
        flex-direction: column;
    }   

    .history__title {
        text-align: center;
    }
    
    .banner__content {
        width: 100%
    }

    .banner__container::before {
        display: none;
    }

    .contact {
        scroll-margin-top: 76px;
    }

    .contact__title {
        text-align: center;
    }

    .contact__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__text{
        max-width: 100%;
    }

}



@media (min-width: 768px) and (max-width: 991px) {

    .menu {
        display: none;
    }

    .button--hidden {
        display: none;
    }

    .mobile-menu__icon {
        display: block;
    }

    .splide {
        margin: 76px auto 0 auto;
    }

    .splide__text {
        max-width: 55%;
    }

    .farms {
        scroll-margin-top: 76px;
    }

    .news {
        scroll-margin-top: 76px;
    }

    .news__container {
        flex-direction: column;
    }

    .news__title {
        text-align: center;
    }

    .news__content {
        order: 2;
    }

    .news__image-wrapper {
        order: 1;
    }

    .history {
        scroll-margin-top: 76px;
    }

    .history__container {
        flex-direction: column;
    }

    .history__title {
        text-align: center;
    }

    .contact {
        scroll-margin-top: 76px;
    }

    .contact__title {
        text-align: center;
    }

    .contact__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__text{
        max-width: 100%;
    }

}



@media (min-width: 992px) and (max-width: 1199px) {
    
    .header__menu{
        gap: 0em
    }

    .menu__list {
        margin-right: 0.5em;
    }

    .mobile-menu__nav {
        display: none;
    }

    .menu__link {
        padding: 0.5em 0.5em;
        font-size: 1em;
    }

    .splide__text {
        max-width: 45%;
    }

    .farm-card {
        flex-direction: column;
    }

    .news__container {
        flex-direction: column;
    }

    .news__title {
        text-align: center;
    }

    .news__content {
        order: 2;
    }

    .news__image-wrapper {
        order: 1;
    }

    .history__container {
        flex-direction: column;
    }

    .history__title {
        text-align: center;
    }

}



@media (min-width: 1200px) and (max-width: 1439px) {

    .mobile-menu__nav {
        display: none;
    }

    .splide__text {
        max-width: 40%;
    }

}



@media (min-width: 1440px) {

    .mobile-menu__nav {
        display: none;
    }

}



@media (hover:hover) {

    .button:hover {
        background-color: var(--color-white);
        transition: 0.3s ease;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    .menu__link:hover {
        color: var(--color-primary);
        transition: color 0.2s ease;
    }

    .mobile-menu__icon:hover .mobile-menu__line--top {
        background-color: var(--color-text);
    }

    .mobile-menu__icon:hover .mobile-menu__line--middle {
        background-color: var(--color-text);
    }

    .mobile-menu__icon:hover .mobile-menu__line--bottom {
        background-color: var(--color-text);
    }

    .mobile-menu__link:hover {
        color: var(--color-primary);
        transition: color 0.2s ease;
    }

    .splide .splide__arrows .splide__arrow:hover {
        background: var(--color-primary);
        opacity: 1;
        transition: 0.2s ease;
    }

    .splide .splide__arrows .splide__arrow:hover svg {
        fill:white;
    }

    .splide .splide__pagination__page:hover {
        background: var(--color-primary);
        opacity: 1;
        border: none;
    }

    .contact__tel:hover {
        color: var(--color-primary);
    }

    .contact__email:hover {
        color: var(--color-primary);
    }

    .contact__button:hover {
        background-color: var(--color-hover);
        transition: 0.3s ease;
    }

    .footer__tel:hover {
        color: var(--color-primary);
    }

    .footer__email:hover {
        color: var(--color-primary);
    }

    .footer__icon:hover {
        transform: scale(1.3);
    }

}
