:root {
    --color-primary: #f9a51b;
    --color-white: #fff;
    --color-black: #1a1a1a;
    --color-darkgrey: #222222; 
    --color-lightgrey: #918f90; 
    --color-hover: #cc7900; 
    --color-bg: #f7f6f4;
    --color-light: #f6f6f6;
    --color-bg-light: #f7f6f4;
    --primary-font: "Roboto", Helvetica, sans-serif;
    --color-text: #1a1a1a;
}


html {
  scroll-behavior: smooth;
}

body {
    min-width: 320px;
    margin: 0;
}

/* ======HEADER====== */

.header {
    background: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
}

.header__button:active {
    background-color: var(--color-white);
    transition: 0.5s ease;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.header__container {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 18px 4vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo__image {
    max-width: 200px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: block;
}

.header__right {
    display: flex;
    gap: 0;
    align-items: center;
}

.button {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-family: var(--primary-font);
    font-weight: 600;
    border: 1px solid var(--color-primary);
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.button--large {
    padding: 1em 2em;
}

.button:active {
    background-color: var(--color-white);
    transition: 0.5s ease;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

/* ======MENU====== */

.menu__list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 1em;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
    padding: 1em 1em;
}

.menu__link:active {
    color: var(--color-primary);
    transition: color 0.2s ease;
}


/* ======MOBILE-MENU====== */

.mobile-menu__switch {
    display: none;
}

.mobile-menu__icon {
    display: none;
    background-color: var(--color-white);
    z-index: 1;
    overflow: hidden;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

.mobile-menu__line {
    position: absolute;
    right: 0;
    height: 4px;
    background: var(--color-primary);
    border-radius: 0.3;
    transition: 0.2s ease;
}

.mobile-menu__line--top {
    top: 10px;
    width: 30px;
}

.mobile-menu__line--middle {
    top: 18px;
    width: 20px;
}

.mobile-menu__line--bottom {
    top: 26px;
    width: 30px;
}


.mobile-menu__nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-white);
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 0.25s 0.1s;
    overflow-y: auto;
    z-index: 9;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    box-sizing: border-box;
    padding: 0 4vw;
}

.mobile-menu__item {
    list-style: none;
}

.mobile-menu__link {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    text-decoration: none;
    font-weight: 400;
    padding: 1em 1em;
}

.mobile-menu__link:active {
    color: var(--color-primary);
    transition: color 0.3s ease;
}

.button--small {
    padding: 1em 1em;
}

.mobile-menu__switch:checked ~ .mobile-menu__icon .mobile-menu__line--top {
    top: 18px;
    left: 6.5px;
    transform: rotate(45deg) scaleX(0.95);
}

.mobile-menu__switch:checked ~ .mobile-menu__icon .mobile-menu__line--middle {
    transform: translateX(-20px);
    opacity: 0;
}

.mobile-menu__switch:checked ~ .mobile-menu__icon .mobile-menu__line--bottom {
    top: 18px;
    left: 6.5px;
    transform: rotate(-45deg) scaleX(0.95);
}

.mobile-menu__switch:checked ~ .mobile-menu__nav {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 0.25s;
    max-height: 80vh;
}


/* ======INTRO====== */


.intro__container {
    padding: 80px 4vw;
    margin: 89px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.intro__title {
    font-family: var(--primary-font);
    color: var(--color-text);
    font-weight: 900;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.intro__image {
    max-width: 100%;
}


/* ======OFFER====== */

.offer {
    background-color: var(--color-bg-light);
}

.offer__container {
    max-width: 1440px;
    padding: 80px 4vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.offer__title {
    text-align: center;
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
}

.offer__tiles {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
}

.offer__tile {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background: #fefefe;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    padding: 2em;
    box-sizing: border-box;
    gap: 3em;
}

.offer__tile-left {
    flex-shrink: 0;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em
}

.offer__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.offer__tile-right {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em
}

.offer__time {
    padding: 0.5em 0.5em;
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1em;
    display: inline-block;
    max-width: max-content;
}

.offer__time--full {
    background-color: var(--color-primary);
}

.offer__time--part {
    background-color: #918f90;
}

.offer__text {
    font-family: var(--primary-font);
    color: var(--color-text);
    margin: 0;
    line-height: 1.5;
}

.offer__subtitle {
    font-family: var(--primary-font);
    color: var(--color-text);
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
}



/* ======CONTACT__BANNER====== */


.contact-banner__container {
    max-width: 1440px;
    padding: 80px 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    position: relative;
    box-sizing: border-box;
}

.contact-banner__container::before {
    content: "";
    display: block;
    width: 500px;
    height: 250px;
    background-image: url('images/palomo__bull.png');
    background-size: cover;
    position: absolute;
    right: 7%;
    top: 50%;                 
    transform: translateY(-50%);
    z-index: -1;
}

.contact-banner__tile {
    width: 50%;
    padding: 3em 2em 3em 3em;
    background-color: var(--color-bg );
    border-radius: 0.3em;
}

.contact-banner__title {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
    margin-top: 0;
}

.contact-banner__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    line-height: 1.5;
    max-width: 75%;
}

.contact-banner__button {
    padding: 1em 1em;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-family: var(--primary-font);
    font-weight: 600;
    border: 1px solid var(--color-primary);
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.contact-banner__button:active {
    background-color: var(--color-white);
    transition: 0.5s ease;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}


/* ======STATEMENT====== */

.statement {
    background-color: var(--color-bg);
}

.statement__container {
    text-align: center;
    max-width: 1440px;
    padding: 12px 4vw 12px 4vw;
    margin: 0 auto;
}

.statement__text {
    color: var(--color-text);
    font-family: var(--primary-font);
    font-size: 1em;
    margin: 0;
    line-height: 1.5;
}

.statement__link {
    color: var(--color-primary);
    font-family: var(--primary-font);
    font-size: 1em;
    text-decoration: none;
}

.statement__link:active {
    text-decoration: underline;
    transition: 0.2s ease;
}

/* ======PATIČKA====== */

.footer {
    background: #2f2f2f;
}

.footer__container {
    max-width: 1440px;
    padding: 80px 4vw 0 4vw;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    box-sizing: border-box;
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 2em;
}

.logo__image--small {
    max-width: 160px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: block;
}

.footer__info-groups {
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
}

.footer__info-group {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: center;
}

.footer__subtitle {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
}

.footer__tel {
    font-family: var(--primary-font);
    color: var(--color-white);
    text-decoration: none;
}

.footer__tel:active {
    color: var(--color-primary);
}

.footer__email {
    font-family: var(--primary-font);
    color: var(--color-white);
    text-decoration: none;
}

.footer__email:active {
    color: var(--color-primary);
}

.footer__company-name {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
}

.footer__address {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1em;
    font-style: normal;
}

.footer__open-hours {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1em;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b3b3b3 ;
    padding: 2em 0;
    gap: 0.5em
}

.footer__socials{
    display: flex;
    gap: 1em;
    align-items: center;
}

.footer__icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    display: block;
}

.footer__icon:active {
    transform: scale(1.3);
}

.footer__copyright {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 0.9em;
}


@media (max-width: 576px) {
    .menu {
        display: none;
    }

    .button--hide {
        display: none;
    }

    .mobile-menu__icon {
        display: block;
    }   

    .intro__title {
        font-size: 3em;
    }

    .offer__tile {
        flex-direction: column;
    }

    .contact-banner__tile {
        width: 100%
    }

    .contact-banner__container::before {
        display: none;
    }

    .contact-banner__text {
        max-width: 100%;
    }

    .footer__tiles {
        flex-direction: column;
    }



}

@media (min-width: 576px) and (max-width: 767px) {

    .menu {
        display: none;
    }

    .button--hide {
        display: none;
    }

    .mobile-menu__icon {
        display: block;
    }

    .intro__title {
        font-size: 3em;
    }

    .contact-banner__tile {
        width: 100%
    }

    .contact-banner__container::before {
        display: none;
    }

    .contact-banner__text {
        max-width: 90%;
    }

    .offer__tile {
        flex-direction: column;
    }

}
    

@media (min-width: 768px) and (max-width: 991px) {
    .menu {
        display: none;
    }

    .button--hide {
        display: none;
    }

    .mobile-menu__icon {
        display: block;
    }

    

}


@media (min-width: 992px) and (max-width: 1199px) {
    .header__right{
        gap: 0em
    }

    .menu__list {
        margin-right: 0.5em;
    }

    .mobile-menu__nav {
        display: none;
    }

    .menu__link {
        padding: 0.5em 0.5em;
        font-size: 1em;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .mobile-menu__nav {
        display: none;
    }
}


@media (min-width: 1440px) {
    .mobile-menu__nav {
        display: none;
    }
}

@media (hover:hover) {
    .button:hover {
        background-color: var(--color-white);
        transition: 0.5s ease;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    .menu__link:hover {
        color: var(--color-primary);
        transition: color 0.2s ease;
    }

    .mobile-menu__icon:hover .mobile-menu__top-line {
        background-color: var(--color-black);
    }

    .mobile-menu__icon:hover .mobile-menu__middle-line {
        background-color: var(--color-black);
    }

    .mobile-menu__icon:hover .mobile-menu__bottom-line {
        background-color: var(--color-black);
    }

    .mobile-menu__link:hover {
        color: var(--color-primary);
        transition: color 0.3s ease;
    }

    .mobile-menu__button:hover {
        background-color: var(--color-white);
        transition: 0.5s ease;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    .statement__link:hover {
        text-decoration: underline;
        transition: 0.2s ease;
    }

    .contact-banner__button:hover {
        background-color: var(--color-white);
        transition: 0.5s ease;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    .footer__tel:hover {
        color: var(--color-primary);
    }

    .footer__email:hover {
        color: var(--color-primary);
    }

    .footer__icon:hover {
        transform: scale(1.3);
    }
}
